<%= render "projects/header" %>
<div class="container-fliid d-flex">
  <%# プロジェクト一覧 %>
  <%= render "projects/side_bar2"%>
  <%# タスク一覧 %>
  <%= render "projects/middle_ber", project: @project, tasks: @tasks %>
  <%# メイン画面 %>
  <%= render "projects/comments" %>
</div>