<div class="col-7 p-0 bg-eee"> 
  <form class="h50px d-flex">
    <input type="text" class="h-75 w-75 mx-2 outline align-self-center" placeholder="コメント">
    <input type="submit" class="h-75 align-self-center">
  </form>
  <div class="overflow-auto h_calc100vh-50px">
    <% 20.times do |i| %>
      <div class="d-flex justify-content-between py-1 m-2">
        <a href="#" class="text-reset py-2 my-auto mx-1">
        <%= "コメント#{i+1}"%></a>
        <%# <p class="my-auto">最終コメント</p> %>
        <div class="d-flex align-items-center px-2">
          <a href="#" class="f-size12 text-reset p-1 mx-1">
          編集</a>
          <%=link_to "削除","#", class: "f-size12 text-reset p-1 mx-1" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
  <%# コメント画面ここまで %>