<header class="d-flex bg-dark text-white py-2">
  <p class="col-3 my-auto"><%= "#{current_user.name}さん"%></p>
  <p class="col-6 text-center my-auto">WorkProgress変わるよね</p>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-reset text-right col-3" %>
</header>