<div class="col-2 p-0 vh-100 bg-secondary text-white">
  <div class="overflow-auto h_calc100vh-90px">
    <div class="d-flex my-1" >
      <p class="my-auto mr-2 f-size14">プロジェクト一覧</p>
      <%= link_to "+", new_project_path, class: "align-self-center text-reset f-size14 px-1", data: {"turbolinks" => false} %>
    </div>
    <% current_user.projects.each do |project| %>
      <div class="d-flex justify-content-between py-2">
         <%= link_to project.name, project_tasks_path(project.id), class: "text-reset align-text-center py-1 my-auto mx-1 f-size14" %>
      </div>
    <% end %>
  </div>
</div>