<%= render "header" %>
<div class="container-fliid d-flex h_calc100vh-40px">
  <%# プロジェクト一覧 %>
  <%= render "side_bar"%>
  <%# タスク一覧 %>
  <div class="col-3 p-0 bg-darkgray text-white">
    ここにタスクが表示されます
  </div>
  <%# コメント画面 %>
  <div class="col-7 p-0 bg-eee"> 
    ここにコメントが表示されます
  </div>
</div>