<%= render "header" %>
<%= render "error_flash" %>
<div class="container-fliid d-flex h_calc100vh-40px">
  <%# プロジェクト一覧 %>
  <%= render "side_bar"%>
  <%# タスク一覧 %>
  <div class="col-3 p-0 bg-darkgray text-white-50 d-flex align-items-center ">
    <h5>ここに設定したタスクが表示されます</h5>
  </div>
  <%# コメント画面 %>
  <div class="col-7 p-0 bg-eee text-black-50 d-flex align-items-center">
    <h2>
    ここにコメントが表示されます
    </h2>
  </div>
</div>