.h90px{
  height: 90px;
}

.h_calc100vh-90px{
  height: calc(100vh - 90px);
}

.f-size12{
  font-size: 12px;
}

li{
  list-style: none;
}

.overflow-x{
  overflow-x: auto;
}

.white-space{
  white-space: nowrap;
}
.cursor-pointer{
  cursor: pointer;
}

.width-150{
  width: 150px;
}

.w-10{
  width: 10%;
}

.w-90{
  width: 90%;
}

.sign_image{
  background-image: url("/assets/3592803_s.jpg");
  background-size: cover;
}

.f-size-20{
  font-size: 20px;
}

.entry{
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  margin: 20px auto 0 auto;
  padding: 10px;
  width: 60%;
  text-align: center;
}

.form-field{
  width: 90%;
  outline: 0;
}