.h90px{
  height: 90px;
}

.h_calc100vh-90px{
  height: calc(100vh - 90px);
}

.f-size12{
  font-size: 12px;
}

li{
  list-style: none;
}

.overflow-x{
  overflow-x: auto;
}

.white-space{
  white-space: nowrap;
}
